.paragraph {
    font-family: LouisGeorgeCafe;
    font-size: calc(14px + (4 + 4 * 0.7) * ((100vw - 320px) / 1366)); //18.8px;
    line-height: calc(20px + (10 + 10 * 0.7) * ((100vw - 320px) / 1366)); //30px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #ffffff;
    &_black {
        color: #000000;
    }
}