@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: Brushwell;
  /* имя шрифта для CSS правил */
  src: local("Brushwell"), url("../Fonts/brushwell/Brushwell.otf") format("opentype");
  /* если шрифт не установлен, тогда загружаем его по указанному пути */
}

@font-face {
  font-family: RedVelvet;
  /* имя шрифта для CSS правил */
  src: local("RedVelvet"), url("../Fonts/RedVelvet/red-velvet-regular.otf") format("opentype");
  /* если шрифт не установлен, тогда загружаем его по указанному пути */
}

@font-face {
  font-family: LouisGeorgeCafe;
  /* имя шрифта для CSS правил */
  src: local("LouisGeorgeCafe"), url("../Fonts/LouisGeorgeCafe/LouisGeorgeCafe.ttf") format("truetype");
  /* если шрифт не установлен, тогда загружаем его по указанному пути */
}

@font-face {
  font-family: NEXTART;
  /* имя шрифта для CSS правил */
  src: local("NEXTART"), url("../Fonts/nextart/nextart.ttf") format("truetype");
  /* если шрифт не установлен, тогда загружаем его по указанному пути */
}

.nav-menu__wrapper {
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-menu__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  height: 30px;
  list-style: none;
}

.nav-menu__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-menu__links {
  height: 20px;
  text-decoration: none;
  font-family: NEXTART;
  font-size: 19.2px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.nav-menu__li:hover {
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff;
}

.nav-menu__input-search {
  position: absolute;
  right: 230px;
  display: none;
  -webkit-transition: .1s;
  transition: .1s;
}

.nav-menu__btn-search {
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 1030px) {
  .nav-menu__ul {
    width: 94%;
  }
}

@media screen and (max-width: 790px) {
  .nav-menu__wrapper {
    position: absolute;
  }
  .nav-menu__ul {
    z-index: 3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    position: fixed;
    width: 250px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    right: -250px;
    bottom: 0;
    background-color: #47463e;
    -webkit-transition: right .2s;
    transition: right .2s;
  }
  .nav-menu__li {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 60px;
  }
  .nav-menu__links {
    padding: 20px;
  }
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav-menu__ul_active {
  right: 0;
  -webkit-transition: .2s;
  transition: .2s;
}

.nav-menu__input-search_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .1s;
  transition: .1s;
}

.burger {
  position: fixed;
  right: 6%;
  top: 50px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.burger__icon {
  position: relative;
  width: 40px;
  height: 5px;
  background-color: #969393;
}

.burger__icon::before {
  position: absolute;
  left: 0;
  top: -13px;
  content: '';
  width: 40px;
  height: 5px;
  background-color: #969393;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}

.burger__icon::after {
  position: absolute;
  left: 0;
  top: 13px;
  content: '';
  width: 40px;
  height: 5px;
  background-color: #969393;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}

.burger__icon.burger__icon_active {
  background-color: transparent;
}

.burger__icon.burger__icon_active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  background-color: #969393;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}

.burger__icon.burger__icon_active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  background-color: #969393;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}

@media screen and (max-width: 790px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.burger_disable {
  display: none;
}

.nav-menu__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-menu__inputSearch {
  display: none;
}

.nav-menu__btnSearch {
  display: block;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url(../../../img/nav-menu/search/search.svg);
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  min-height: 600px;
  background-image: url(../img/main/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.main__logo {
  margin-top: 40px;
  width: 8.7%;
  min-width: 90px;
}

.main__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.main__h1 {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
}

.main__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .main__wrapper {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 94%;
    height: 94%;
  }
}

.title-brush {
  font-family: Brushwell;
  font-size: calc(57px + (19 + 19 * 0.7) * ((100vw - 320px) / 1366));
  line-height: calc(38px + (10 + 10 * 0.7) * ((100vw - 320px) / 1366));
  font-weight: 400;
  color: #ffffff;
}

.title-brush_black {
  color: #000000;
}

.title {
  font-family: RedVelvet;
  font-size: calc(28px + (39 + 39 * 0.7) * ((100vw - 320px) / 1366));
  line-height: calc(46px + (69 + 69 * 0.7) * ((100vw - 320px) / 1366));
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.title_black {
  color: #000000;
}

.title_underline {
  border-bottom: 1px solid;
}

.paragraph {
  font-family: LouisGeorgeCafe;
  font-size: calc(14px + (4 + 4 * 0.7) * ((100vw - 320px) / 1366));
  line-height: calc(20px + (10 + 10 * 0.7) * ((100vw - 320px) / 1366));
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.paragraph_black {
  color: #000000;
}

.paragraph-title {
  font-family: RedVelvet;
  font-size: calc(20px + (5 + 5 * 0.7) * ((100vw - 320px) / 1366));
  line-height: 29px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #2b2b2b;
  text-align: center;
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-me__wrapper {
  margin-top: 80px;
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 83%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-me__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 370px;
}

.about-me__img {
  width: 303px;
  height: 303px;
  padding-right: 45px;
}

.about-me__text {
  max-width: 525px;
  padding-left: 30px;
  border-left: 1px solid #000000;
}

.about-me__h2 {
  margin-top: 20px;
}

.about-me__p {
  margin-top: 20px;
}

@media screen and (max-width: 1090px) {
  .about-me__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-me__image {
    width: 100%;
  }
  .about-me__img {
    padding: 0;
  }
  .about-me__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    border: none;
  }
}

@media screen and (max-width: 600px) {
  .about-me__wrapper {
    margin-top: 20px;
    padding-bottom: 20px;
  }
}

.button-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button-link__links {
  padding: 14px 20px;
  border: 1px solid #000000;
  text-decoration: none;
  font-family: LouisGeorgeCafe;
  font-size: calc(14px + (2 + 2 * 0.7) * ((100vw - 320px) / 1366));
  line-height: calc(14px + (2 + 2 * 0.7) * ((100vw - 320px) / 1366));
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #000000;
  text-transform: uppercase;
}

.button-link__links:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 5px 5px 5px rgba(115, 115, 115, 0.3);
          box-shadow: 5px 5px 5px rgba(115, 115, 115, 0.3);
  -webkit-transition: .2s;
  transition: .2s;
}

.button-link__links:active {
  color: white;
  background-color: #4ac74e;
  -webkit-animation: bounce .2s;
          animation: bounce .2s;
}

@-webkit-keyframes bounce {
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.button_inner {
  margin-top: 30px;
  padding-bottom: 40px;
}

.portfolio__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 360px;
  background-image: url(../img/portfolio/background.png);
  background-position-x: center;
  background-size: auto;
}

.portfolio__p {
  margin-top: 25px;
}

@media screen and (max-width: 550px) {
  .portfolio__wrapper {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.portfolio-example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-example__wrapper {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 83%;
}

.portfolio-example__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio-example__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio-example__portfolio-example__links {
  width: 100%;
}

.portfolio-example__portfolio-example__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio-example__button {
  margin-top: 40px;
  padding-bottom: 40px;
}

@media screen and (max-width: 1330px) {
  .portfolio-example__wrapper {
    width: 94%;
  }
}

@media screen and (max-width: 1171px) {
  .portfolio-example__wrapper {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 94%;
  }
  .portfolio-example__column:last-child {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (max-width: 795px) {
  .portfolio-example__wrapper {
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .portfolio-example__column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .portfolio-example__column:last-child {
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 390px) {
  .portfolio-example__img {
    width: 100%;
    min-width: 300px;
  }
}

.video-title__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 414px;
  background-image: url(../img/video-title/background.png);
  background-position-x: center;
  background-size: auto;
}

.video-title__p {
  text-align: center;
  max-width: 805px;
}

.video-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video-preview__wrapper {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 83%;
  border-bottom: 2px solid #000000;
}

.video-preview__item {
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 310px;
  width: 32%;
}

.video-preview__item_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-bottom: 45px;
}

.video-preview__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: relative;
}

.video-preview__links_active {
  width: 83%;
}

.video-preview__links::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 23px;
  height: 2px;
  background-color: #000000;
}

.video-preview__image {
  -o-object-fit: cover;
     object-fit: cover;
}

.video-preview__btn-image {
  position: absolute;
  width: 12%;
  height: 18%;
  top: 44%;
  left: 46%;
}

.video-preview__p {
  margin-top: 20px;
  text-align: center;
  width: 70%;
  height: 3em;
  overflow: hidden;
}

.video-preview__p_active {
  height: auto;
  max-width: 80%;
}

.video-preview__btn {
  margin-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1135px) {
  .video-preview__wrapper {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (max-width: 1000px) {
  .video-preview__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    align-items: center;
  }
  .video-preview__item {
    width: 94%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-bottom: 2px solid #000000;
  }
  .video-preview__item_active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding-bottom: 45px;
  }
  .video-preview__links_active {
    width: 100%;
  }
  .video-preview__p {
    padding: 10px;
    height: auto;
  }
}

@media screen and (max-width: 800px) {
  .video-preview__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .video-preview__item {
    width: 94%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
  }
  .video-preview__image_active {
    height: 300px;
  }
  .video-preview__p {
    padding: 10px;
    height: 3.5em;
    width: 88%;
  }
}

@media screen and (max-width: 350px) {
  .video-preview__wrapper {
    width: 94%;
  }
  .video-preview__item, .video-preview__links, .video-preview__image {
    min-width: 290px;
    width: 100%;
  }
}

.title-h3 {
  font-family: NEXTART;
  font-size: 37.5px;
  font-weight: 300;
  color: #000000;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials__wrapper {
  margin-top: 50px;
  width: 83%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 123px;
}

.testimonials__items {
  margin-top: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimonials__article {
  width: 29%;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__photo-autor {
  z-index: 2;
}

.testimonials__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: -65px;
  border: 1px solid #000000;
}

.testimonials__autors {
  margin-top: 80px;
  font-family: RedVelvet;
  font-size: 18.8px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #000000;
  text-align: center;
}

.testimonials__p {
  text-align: center;
  padding: 35px 30px;
}

.testimonials__btn {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media screen and (max-width: 1110px) {
  .testimonials__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .testimonials__article {
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 750px) {
  .testimonials__wrapper {
    width: 94%;
  }
  .testimonials__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.contact-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/contact-me/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-me__wrapper {
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 52%;
  border-bottom: 1px solid #000000;
}

.contact-me__title {
  margin-top: 40px;
  padding-bottom: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 140px;
  border-bottom: 1px solid;
}

.contact-me__container {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-me__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 49%;
}

.contact-me__input {
  margin-top: 25px;
  height: 50px;
  width: 98%;
  background: transparent;
  border: 1.5px solid #000000;
  font-family: LouisGeorgeCafe;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #000000;
}

.contact-me__textarea {
  margin-top: 25px;
  width: 98%;
  resize: none;
  height: 300px;
  height: 150px;
  background: transparent;
  border: 1.5px solid #000000;
  font-family: LouisGeorgeCafe;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #000000;
}

.contact-me__btn {
  margin-top: 25px;
}

.contact-me__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 49%;
}

.contact-me__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1100px) {
  .contact-me__wrapper {
    width: 83%;
  }
}

@media screen and (max-width: 750px) {
  .contact-me__wrapper {
    width: 94%;
  }
}

@media screen and (max-width: 555px) {
  .contact-me__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-me__form {
    width: 100%;
  }
  .contact-me__image {
    display: none;
  }
}

.button {
  cursor: pointer;
  padding: 14px 20px;
  border: 1px solid #000000;
  text-decoration: none;
  font-family: LouisGeorgeCafe;
  font-size: calc(14px + (2 + 2 * 0.7) * ((100vw - 320px) / 1366));
  line-height: calc(14px + (2 + 2 * 0.7) * ((100vw - 320px) / 1366));
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #000000;
  text-transform: uppercase;
}

.button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 5px 5px 5px rgba(115, 115, 115, 0.3);
          box-shadow: 5px 5px 5px rgba(115, 115, 115, 0.3);
  -webkit-transition: .2s;
  transition: .2s;
}

.button:active {
  background-color: #4ac74e;
  color: white;
  -webkit-animation: bounce .2s;
          animation: bounce .2s;
}

@keyframes bounce {
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../img/footer/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__link-social {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__p {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.footer__src {
  margin-top: 50px;
  font-family: LouisGeorgeCafe;
  font-size: 14.4px;
  line-height: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__link-icon {
  margin-top: 20px;
  padding-bottom: 40px;
  font-family: LouisGeorgeCafe;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #ffffff;
}

.svg-icon {
  width: 30px;
  height: 30px;
  fill: rgba(255, 255, 255, 0.5);
}

.svg-icon:hover {
  fill: white;
}
/*# sourceMappingURL=style.css.map */