.video-title {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        min-height: 414px;
        background-image: url(../img/video-title/background.png);
        background-position-x: center;
        background-size: auto;
    }
    &__p {
        text-align: center;
        max-width: 805px;
    }
}