.works {
  background-color: #f4fafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
    width: 94%;
  }
  &__swiper{
    width: 100%;
    position: relative;
    z-index: 0;
  }
  &__swiper-wrapper{
    padding-top: 35px;
    padding-bottom: 80px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: max-content;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 10px;
  }
  &__item:nth-child(4n+1){
    background-image: url(../img/works1.png);
  }
  &__item:nth-child(4n+2){
    background-image: url(../img/works2.png);
  }
  &__item:nth-child(4n+3){
    background-image: url(../img/works3.png);
  }
  &__item:nth-child(4n+4){
    background-image: url(../img/works4.png);
  }
  &__item-links{
    padding-top: 165px;
    width: 275px;
  }
  &__h3 {
    padding-top: 25px;
    font-family: Lora;
    font-size: 21px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #404f54;
    position: relative;
    z-index: 0;
  }
  &__h3::before{
    content: "";
    display: block;
    height: 2px;
    width: 67px;
    background-color: #d02184;
    position: absolute;
    top: 0;
    left: 35%;
  }
  &__arrow{
    display: none;
  }
}

@media screen and (max-width: 1070px){
  .works {
    &__swiper-wrapper {
      width: 100%;
      justify-content: initial;
      flex-wrap: nowrap;
    }
    &__item {
      display: flex;
      justify-content: center;
      width: 33%;
      flex-shrink: 0;
    }
    &__arrow{
      display: block;
    }
  }
}
@media screen and (max-width: 830px){
  .works {
    &__item {
      width: 50%;
    }
  }
}
@media screen and (max-width: 550px){
  .works {
    &__item {
      width: 100%;
    }
  }
}