.product-banner__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 502px;
  background-color: #f36805;
}

.product-banner__text {
  max-width: 397px;
  margin-left: 85px;
}

.product-banner__title {
  margin-bottom: 5px;
  font-family: "Cera Pro", sans-serif;
  font-size: 52px;
  font-weight: bold;
  line-height: 130%;
  color: #fff;
  text-transform: uppercase;
}

.product-banner__paragraph {
  margin-bottom: 70px;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
}

.product-banner__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 42px;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 7px;
}

.product-banner__image {
  width: 35%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 850px) {
  .product-banner__text {
    margin-left: 30px;
  }
  .product-banner__title {
    font-size: 36px;
  }
  .product-banner__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 45%;
  }
}

@media screen and (max-width: 660px) {
  .product-banner__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 50px 25px;
  }
  .product-banner__image {
    height: 230px;
  }
  .product-banner__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-left: 0;
  }
  .product-banner__paragraph {
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 550px) {
  .product-banner__image {
    height: 150px;
  }
  .product-banner__title {
    font-size: 32px;
  }
  .product-banner__paragraph {
    text-align: center;
  }
}

.about-laboratory {
  padding: 60px 0;
}

.about-laboratory__wrapper {
  position: relative;
  padding-left: 43px;
}

.about-laboratory__wrapper::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 8px;
  height: 100%;
  content: "";
  background-color: #485cc7;
}

.about-laboratory__text {
  font-size: 14px;
  line-height: 150%;
}

.about {
  margin-bottom: 40px;
}

.about__wrapper {
  display: block;
  padding: 60px 73px;
  padding-bottom: 95px;
  background: #f7f7f8;
  border-radius: 15px;
  -webkit-box-shadow: 0 10px 20px rgba(83, 85, 108, 0.15);
          box-shadow: 0 10px 20px rgba(83, 85, 108, 0.15);
}

.about__title {
  margin: 0 auto;
  margin-bottom: 70px;
  color: #231f20;
}

.about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__item {
  max-width: 284px;
  padding-top: 121px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 86px;
}

.about__item:nth-child(1) {
  background-image: url("../images/about/star.svg");
}

.about__item:nth-child(2) {
  background-image: url("../images/about/shield.svg");
}

.about__item:nth-child(3) {
  background-image: url("../images/about/chart.svg");
}

@media screen and (max-width: 1111px) {
  .about__wrapper {
    padding: 45px 30px;
    padding-bottom: 75px;
  }
  .about__item:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (max-width: 850px) {
  .about__wrapper {
    padding: 30px 20px;
    padding-bottom: 75px;
  }
  .about__title {
    margin-bottom: 0;
  }
  .about__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 45px 30px;
    padding-bottom: 75px;
  }
  .about__item {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    min-width: 200px;
    margin: 20px;
  }
  .about__item:not(:last-child) {
    margin-right: 20px;
  }
}

.popular-products {
  padding: 60px 0;
}

.popular-products__title {
  margin-bottom: 45px;
}

.popular-products__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  row-gap: 35px;
  -webkit-column-gap: 23px;
     -moz-column-gap: 23px;
          column-gap: 23px;
  width: 100%;
}

.popular-products__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff;
  border: 1px solid #dddee3;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 20px rgba(83, 85, 108, 0.15);
          box-shadow: 0 10px 20px rgba(83, 85, 108, 0.15);
}

.popular-products__item::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 8px;
  height: 100%;
  content: "";
}

.popular-products__item:nth-child(1)::before {
  background-color: #84bd00;
}

.popular-products__item:nth-child(2)::before {
  background-color: #485cc7;
}

.popular-products__item:nth-child(3)::before {
  background-color: #ff6900;
}

.popular-products__item:nth-child(4)::before {
  background-color: #e40046;
}

.popular-products__item-illustration {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.popular-products__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 75px;
  padding: 8px 41px;
}

.popular-products__item-title {
  margin-right: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  color: #53556c;
  text-transform: uppercase;
}

.popular-products__btn-catalog {
  padding: 6px 20px;
  font-size: 11px;
  font-weight: bold;
  line-height: 14px;
  color: #fff;
  background-color: rgba(0, 55, 41, 0.8);
  border-radius: 5px;
}

@media screen and (max-width: 650px) {
  .popular-products__title {
    font-size: 26px;
  }
  .popular-products__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 25px;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.news-media {
  padding: 40px 0;
}

.news-media__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-media__title {
  position: relative;
  display: inline-block;
  max-width: 275px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-left: 43px;
  margin-bottom: 25px;
}

.news-media__title::before {
  position: absolute;
  top: -10%;
  left: 0;
  display: block;
  width: 8px;
  height: 110%;
  content: "";
  background-color: #ff6900;
}

.news-media__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 55px;
  width: 100%;
  max-width: 802px;
}

.news-media__item {
  width: 100%;
}

.news-media__illustration {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 30px;
  border-radius: 10px;
}

.news-media__item-title {
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: bold;
  line-height: 130%;
  color: #393a4a;
  text-transform: uppercase;
}

.news-media__text {
  height: 63px;
  margin-bottom: 14px;
  overflow: hidden;
}

.news-media__more-detailed {
  position: relative;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-right: 10px;
  font-size: 11px;
  font-weight: bold;
  line-height: 14px;
  color: #393a4a;
  text-transform: uppercase;
}

.news-media__more-detailed::after {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 5px;
  height: 14px;
  content: "";
  background-image: url("../images/right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.news-media__more {
  margin: 50px auto;
}

@media screen and (max-width: 1200px) {
  .news-media__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news-media__title {
    position: relative;
    display: inline-block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding-left: 43px;
  }
  .news-media__items {
    margin-left: auto;
  }
}

@media screen and (max-width: 650px) {
  .news-media__title {
    margin-bottom: 45px;
    font-size: 26px;
  }
  .news-media__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news-media__item {
    margin-bottom: 45px;
  }
  .news-media__more {
    margin: 25px auto;
  }
}

.media {
  padding: 40px 0;
}

.media__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.media__title {
  position: relative;
  display: inline-block;
  max-width: 275px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-left: 43px;
  margin-bottom: 25px;
}

.media__title::before {
  position: absolute;
  top: -10%;
  left: 0;
  display: block;
  width: 8px;
  height: 110%;
  content: "";
  background-color: #ff6900;
}

.media__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 55px;
  width: 100%;
  max-width: 802px;
}

.media__item {
  width: 100%;
  overflow: hidden;
}

.media__illustration {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 30px;
  overflow: hidden;
  border: 1px solid #bcbdc7;
  border-radius: 10px;
}

.media__item-title {
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: bold;
  line-height: 130%;
  color: #393a4a;
  text-transform: uppercase;
}

.media__text {
  height: 63px;
  margin-bottom: 14px;
  overflow: hidden;
}

.media__more-detailed {
  position: relative;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 14px;
  line-height: 18px;
  color: #595377;
  text-decoration: underline;
}

.media__more {
  margin: 50px auto;
  margin-bottom: 0;
}

@media screen and (max-width: 1200px) {
  .media__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .media__title {
    position: relative;
    display: inline-block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding-left: 43px;
  }
  .media__items {
    margin-left: auto;
  }
}

@media screen and (max-width: 650px) {
  .media__title {
    margin-bottom: 45px;
    font-size: 26px;
  }
  .media__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .media__item {
    margin-bottom: 45px;
  }
  .media__more {
    margin: 25px auto;
  }
}

.bonuses {
  padding: 67px;
}

.bonuses__wrapper {
  padding: 40px 0;
  background-image: url("../images/bonusesBG.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
}

.bonuses__text-block {
  display: block;
  width: 58%;
  max-width: 708px;
  padding: 60px;
  padding-top: 48px;
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 30px rgba(89, 83, 119, 0.25);
          box-shadow: 0 4px 30px rgba(89, 83, 119, 0.25);
}

.bonuses__title {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: bold;
  line-height: 130%;
  color: #434a54;
  text-transform: uppercase;
}

.bonuses__paragraph {
  margin-bottom: 34px;
}

@media screen and (max-width: 1300px) {
  .bonuses {
    padding: 65px 0;
  }
}

@media screen and (max-width: 1180px) {
  .bonuses {
    padding: 45px 0;
  }
  .bonuses__wrapper {
    padding: 0;
    background-image: none;
  }
  .bonuses__text-block {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 60px;
    padding-top: 48px;
    background: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    -webkit-box-shadow: 0 4px 30px rgba(89, 83, 119, 0.25);
            box-shadow: 0 4px 30px rgba(89, 83, 119, 0.25);
  }
}

.any-questions {
  padding: 67px 0;
}

.any-questions__wrapper {
  padding: 80px;
  background: #f7f7f8;
  border: 1px solid #dee7ed;
  border-radius: 15px;
}

.any-questions__title {
  margin-bottom: 14px;
  font-size: 26px;
  font-weight: 500;
  line-height: 130%;
  color: #434a54;
  text-transform: uppercase;
}

.any-questions__paragraph {
  margin-bottom: 33px;
}

.any-questions__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.any-questions__input {
  max-width: 346px;
  margin-right: 12px;
}

.any-questions__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 346px;
  padding: 12px 24px;
}

@media screen and (max-width: 1000px) {
  .any-questions {
    padding: 40px 0;
  }
  .any-questions__wrapper {
    padding: 40px;
  }
}

@media screen and (max-width: 850px) {
  .any-questions__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .any-questions__paragraph {
    text-align: center;
  }
  .any-questions__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .any-questions__input {
    margin-right: 0;
  }
  .any-questions__btn {
    margin-top: 15px;
  }
}

.disabled {
  display: none;
}

.stop-scroll {
  overflow: hidden;
}

use {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
