.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  &__list {
    display: flex;
    flex-direction: row;
  }
  &__item-list {
    background-color: transparent;
  }
  &__links {
    display: block;
    padding: 14px;
    font-family: OpenSans;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #404f54;
    border: 2px solid transparent;
    background-color: transparent;
  }
  &__links:hover {
    border: 2px solid #404f54;
    border-radius: 19px;
  }
}


@media screen and (max-width: 1050px) {
  .nav-menu {
    flex-direction: column;
  }
}

@media screen and (max-width: 750px) {
  .header {
    position: relative;
    z-index: 2;
  }
  .nav-menu {
    justify-content: center;
    position: fixed;
    right: -150vw;
    top: 0;
    background-color: #1baba1;
    width: 100vw;
    height: 100vh;
    transform: skewX(-20deg);
    overflow: auto;
    transition: .5s;
    &__list {
      width: 100%;
      flex-direction: column;
    }
    &__item-list {
      display: flex;
      justify-content: center;
      min-height: 48px;
      
    }
    &__links {
      text-align: center;
      border: none;
      padding: 10px;
    }
  }
  .nav-menu_active{
    right: 0;
    transform: skewX(0deg);
    transition: .5s;
  }
}