.subscribe-email {
  padding-top: 40px;
  &__email-input {
    height: 40px;
    width: 54%;
    font-family: OpenSans;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #cccccc;
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
    padding-left: 12px;
  }
  &__email-input:focus {
    color: black;
    font-family: OpenSans;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
  }
}

@media screen and (max-width: 380px) {
  .subscribe-email {
    padding-top: 25px;
    &__email-input {
      width: 100%;
    }
  }
}