.button {
  padding: 14px 38px;
  border-radius: 26px;
  background-color: #d02184;
  font-family: OpenSans;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  transition: transform 0.2s;
  &_square {
    border-radius: 0;
  }
  &:hover {
    transform: scale(1.04);
    transition: transform 0.3s;
  }
  &:action {
    background-color: #e28bbc;
    color: black;
  }
}