.search-form {
  margin-top: 35px;
  display: flex;
  align-items: center;
  width: 96%;
  max-width: 730px;
  height: 62px;
  background-color: #ffffff;
  box-shadow: 0px 5px 10px 0px rgba(0,22,27,0.3);
  border-radius: 30px;
  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 8px;
  }
  &__input {
    padding-left: 60px;
    width: 70%;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: rgba(64, 79, 84, .6);
  }
}

@media screen and (max-width: 715px) {
  .search-form{
    position: absolute;
    bottom: 10ch;
  }
}

@media screen and (max-width: 440px) {
  .search-form {
    &__input {
      padding-left: 5px;
      font-size: 12px;
      width: 60%;
    }
  }
}