@import "vars";
@import "mixins";
@import "fonts";
@import "vendor";
@import "settings";

body {
  font-family: OpenSans;
}
@import "reset/reset";
@import "page/page";
@import "header/header";
@import "logo/logo";
@import "nav-menu/nav-menu";
@import "title/title";
@import "text/text";
@import "tails/tails";
@import "articles/articles";
@import "article/article";
@import "recent-post/recent-post";
@import "recent/recent";
@import "links-media/links-media";
@import "subscribe-email/subscribe-email";
@import "button/button";
@import "blog/blog";
@import "instagram/instagram";
@import "footer/footer";
@import "freelancer/freelancer";
@import "search-form/search-form";
@import "work-types/work-types";
@import "team-developers/team-developers";
@import "pool-expert/pool-expert";
@import "works/works";
@import "plan/plan";
@import "testimonials/testimonials";
@import "burger/burger";

.swiper-button-prev{
  left: 0;
}
.swiper-button-next{
  right: 0;
}

@media screen and (max-width: 750px){
  .locked {
    overflow: hidden;
  }
}