.text {
  &__paragraph {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: #404f54;
    padding-top: 25px;
    letter-spacing: 0.5px;
  }
  &__description {
    padding-top: 20px;
    font-size: calc(17px + (4 + 4 * 0.7) * ((100vw - 320px) / 1600)); // 21px;
    line-height: 1.2;
    font-weight: 400;
    color: #404f54;
  }
  &__description-item {
    padding: 20px 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #404f54;
    &_inner{
      padding: 20px;
    }
  }
}

@media screen and (max-width: 715px) {
  .text {
    &__description{
      text-align: center;
    }
  }
}