.links-media {
  display: flex;
  padding-top: 80px;
  &__svg {
    display: block;
    width: 28px;
    height: 28px;
    fill: #1baba1;
    margin: 0 2.5px;
  }
  &__svg:hover {
    fill: #045033;
  }
  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
}

@media screen and (max-width: 465px) {
  .links-media {
    padding-top: 40px;
    flex-wrap: wrap;
    &__list {
      flex-wrap: wrap;
      max-width: 310px;
      justify-content: space-evenly;
    }
    &__svg {
      padding: 5px;
      width: 48px;
      height: 48px;
    }
  }
}