.burger {
  position: fixed;
  right: 6%;
  top: 50px;
  display: flex;
  width: 60px;
  height: 60px;
  background-color: rgba(30, 30, 33, .7);;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: none;
  ;
}

.burger__icon {
  position: relative;
  width: 40px;
  height: 5px;
  background-color: #ffffff;
}

.burger__icon::before {
  position: absolute;
  left: 0;
  top: -13px;
  content: '';
  width: 40px;
  height: 5px;
  background-color: #ffffff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.burger__icon::after {
  position: absolute;
  left: 0;
  top: 13px;
  content: '';
  width: 40px;
  height: 5px;
  background-color: #ffffff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.burger__icon.burger__icon_active {
  background-color: transparent;
}

.burger__icon.burger__icon_active::before {
  transform: rotate(45deg);
  top: 0;
  background-color: #ffffff;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.burger__icon.burger__icon_active::after {
  transform: rotate(-45deg);
  top: 0;
  background-color: #ffffff;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

@media screen and (max-width:550px) {
  .burger {
    display: flex;
  }
}

.burger_disable {
  display: none;
}